/*Borders
************************************************************ */
$border-radius-s: 1px;
$border-radius-m: 5px;
$border-line-s: 1px;
$border-line-m: 2px;

/*Breaks
************************************************************ */

$break-xs: 480px;
$break-mobile: 767px;
$break-mid: 840px;
$break-laptop: 1299px;
$break-high: 1600px;

/*Buttons
************************************************************ */

$button-s: 30px;
$button-l: 130px;

/*Colors
************************************************************ */

$c-black: #000;
$c-white: #fff;
$c-white-opacity: #ffffffcc;
$c-grey: #808080;
$c-lightGrey: #bbb;
$c-alto: #ddd;
$c-heading: linear-gradient(to right, #d3d3d3, #bbbbbb);
$c-element: linear-gradient(to right, #f6cfae, #e0b595);
$c-section: linear-gradient(to right, #fbf1e8, #e9cdb7);
$c-main: #1c1206;
$c-second: #dfb38e;
$c-text: #70675e;

/*Device sizes
************************************************************ */

$tablet-min:768px;
$desktop-min: 1200px;

/*Fonts
************************************************************ */

$f-roboto: "Roboto", "sans-serif";

/*Grid
************************************************************ */

$wrapper: 1300px;
$wrapper-high: 1200px;
$wrapper-laptop: 990px;
$wrapper-mid: 800px;
$wrapper-mobile: 480px;
$columns: 12;
$grid-xxs: 100px;
$grid-xs: 250px;
$grid-s: 300px;
$grid-normal: 400px;
$grid-mid: 640px;
$grid-lg: 992px;
$grid-xl: 1199px;

/*Paddings, Margins
************************************************************ */

$space-xxs: 5px;
$space-xs: 10px;
$space-s:15px;
$space-standard: 20px;
$space-medium: 25px;
$space-l: 40px;
$space-xl: 50px;
$space-xxl: 250px;