.header{
  background-image: $c-heading;
  width: 100%;
  max-width: 100vw;
  padding: 0 calc((100vw - 1300px)/2);
  height: 80px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  @include myFlex();
}

.header .logo_wrapper{
  align-items: center;
  height: 100%;
  margin: 0 7vw 0 $space-l;
  @include myFlex();
}

.header .logo_wrapper .logo_img{
  height: 50%;
}

.header .nav_wrapper{
  margin: 0 5vw;
  width: 80vw;
  @include myFlex();
}

.header .nav_wrapper .navLinks_wrapper{
  align-items: center;
  width: 100%;
  padding: $space-xxs $space-standard;
  border-radius: $space-xxs;
  background-image: $c-element;
  @include boxShadow(2px 2px 6px $c-grey);
  @include myFlex();
}

.header .nav_wrapper .nav_btn{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 29px;
  align-self: flex-end;
}

.header .nav_wrapper .nav_btn:hover{
  cursor: pointer;
}

.header .nav_wrapper .nav_btn .nav_bars{
  display: block;
  height: 6px;
  width: $space-medium;
  transition: .3s;
  background-color: $c-white;
  border-radius: $border-radius-s;
}

.header .nav_wrapper .nav_bt .topBar,
.header .nav_wrapper .nav_bt .topBar{
  transform-origin: right;
}

.nav_inner{
  width: calc(100% / 8 * 6);
}

.nav_outside{
  border-left: $border-line-m solid $c-white;
  width: calc(100% / 8 * 2);
}

.header .nav_list_wrapper{
  align-items: center;
  padding: $space-xs 0;
  @include myFlex();
}

.header .nav_list{
  align-items: center;
  justify-content: space-around;
  width: 100%;
  @include myFlex();
}

.header .nav_list .nav_item{
  width: calc(100% / 5);
  justify-content: center;
  @include myFlex();
}

.header .nav_list .nav_item .navLink{
  color: $c-white;
  max-width: 100%;
  text-align: center;
}

.header .nav_list .nav_item .navLink:hover{
  cursor: pointer;
  font-weight: 400;
  font-size: pxToRem(18);
}

.header .nav_list_wrapper .nav_logo{
  height: 3vw;
  max-height: 30px;
  filter: drop-shadow(1px 1px 1px $c-grey);
}