.myWorks_wrapper{
  width: 100%;
  background-image: url("../../../../assets/koła_01.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-x: 100%;
  background-position-y: 80%;
}

.myWorks_wrapper .myWorks_text_wrapper{
  width: 60%;
}

.myWorks_wrapper .myWorks_text_wrapper .text{
  margin: $space-medium 0;
}

.myWorks_wrapper .projects_wrapper{
  flex-wrap: wrap;
  justify-content: space-between;
  @include myFlex()
}

.myWorks_wrapper .projects_wrapper .project_wrapper{
  max-width: 30%;
  min-width: $grid-xs;
  transition: 1.5s;
}

.myWorks_wrapper .projects_wrapper .project_wrapper:nth-child(6n-4),
.myWorks_wrapper .projects_wrapper .project_wrapper:nth-child(6n-2){
  margin-left: $space-xs;
  margin-right: $space-xs;
}

.myWorks_wrapper .projects_wrapper .project_wrapper .projectBox{
  overflow: hidden;
  margin-bottom: $space-l;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-m;
  position: relative;
  background-color: $c-white;
  @include boxShadow(2px 2px 3px $c-grey);
  @include myFlex()
}

.myWorks_wrapper .projects_wrapper .project_wrapper .projectBox .projectImg{
  width: 90%;
  margin-top: $space-xs;
}

.myWorks_wrapper .projects_wrapper .project_wrapper .projectBox:hover .linkBox .projectLink{
  filter: brightness(0) invert(1);
}

.myWorks_wrapper .projects_wrapper .project_wrapper .projectBox  .descBox{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $c-second;
  padding: 15% 20%;
  color: $c-white;
  transition: .4s;
  border-radius: $border-radius-m;
}

.myWorks_wrapper .projects_wrapper .project_wrapper .projectBox:hover .descBox{
  top: 0;
}

.myWorks_wrapper .projects_wrapper .project_wrapper .projectBox:hover .projectLink{
  color: $c-white;
}

.myWorks_wrapper .projects_wrapper .project_wrapper .projectBox .descBox .projHeading{
  color: $c-main;
  font-weight: 500;
  font-size: pxToRem(24);
}

.myWorks_wrapper .projects_wrapper .project_wrapper .projectBox .descBox .projDesc{
margin-bottom: $space-xs;
font-size: pxToRem(20);
}