.skills_wrapper{
  width: 40%;
  height: $grid-normal;
  margin-top: $space-xl;
  padding: $space-xs $space-s;
  border-radius: $border-radius-m;
  position: relative;
  @include boxShadow(2px 2px 2px $c-grey)
}

.skills_wrapper .text{
  margin: $space-s 0;
}

.skills_wrapper .skillBg {
  width: 100%;
  background-color: $c-alto; 
  border-radius: $border-radius-m;
}

.skills_wrapper .skillBg .skillBar {
  border-radius: $border-radius-m;
  text-align: right;
  padding: $space-xs $space-s $space-xs 0; 
  color: $c-white;
  margin: $space-xs 0;
  max-height: 33px;
  background: $c-element;
  @include boxShadow(2px 2px 3px $c-grey)
}

.skills_wrapper .skillBg .php {
  width: 100%;
}
  
.skills_wrapper .skillBg .js {
  width: 90%;
}
  
.skills_wrapper .skillBg .html {
  width: 90%;
}
  
.skills_wrapper .skillBg .nodejs {
  width: 60%;
}
  
.skills_wrapper .skillBg .css {
  width: 90%;
}
  
.skills_wrapper .skillBg .go {
  width: 60%;
}

.skills_wrapper .graph_wrapper .skillBg *{
  transition: 1.5s;
}

.skills_wrapper .graph_wrapper.notViewed .skillBg *{
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
}