.mainHeading{
  color: $c-main;
  font-weight: 400;
  font-size: pxToRem(25);

  &::before{
    content: "//";
  }
}

.secondaryHeading{
  font-size: pxToRem(25);
  color: $c-second;
  font-weight: 400;
}

.text{
  color: $c-text;
}

p,
span,
a,
button,
li{
  font-weight: 300;
}