.tools_wrapper{
  padding: $space-medium calc((100vw - 1300px)/2);
  position: relative;
  background: $c-section;
}

.tools_wrapper .toolsText_wrapper{
  margin-bottom: $space-standard;
  margin-left: $space-l;
}
  
.tools_wrapper .toolsList_wrapper{
  flex-wrap: wrap;
  margin-left: $space-l;
  @include myFlex()
}

.tools_wrapper .toolsList_wrapper .toolBox{
  background-color: $c-white;
  margin-top: $space-standard;
  margin-right: $space-standard;
  height: 12vw;
  min-height: $grid-xxs;
  max-height: 160px;
  width: 9.5vw;
  min-width: $grid-xxs;
  max-width: 130px;
  flex-direction: column;
  align-items: center;
  border-radius: $border-radius-m;
  transition: .8s;
  @include boxShadow(2px 2px 2px $c-grey);
  @include myFlex()
}

.tools_wrapper .toolsList_wrapper .tool_wrapper{
  z-index: 1;
}

.tools_wrapper .toolsList_wrapper .tool_wrapper:hover .toolBox{
  transform: scale(1.1) rotateY(360deg);
}

.tools_wrapper .toolsList_wrapper .toolBox .toolLogo{
  height: 50%;
  max-width: 80%;
  margin: 10%;
}

.tools_wrapper .toolsList_wrapper .toolBox .text{
  font-size: pxToRem(13);
  text-align: center;
}

.tools_wrapper .bgImg{
  position: absolute;
  top: -55%;
  right: -5%;
  z-index: 0;
  transform: scale(.5);
}